table{
    border:solid;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0px;
}

tr{
    height: 30px;
}

td{
    width: 30px;
    border: solid black;
}
body{
    background: linear-gradient(to bottom, rgba(252,158,255), rgba(0,0,128)) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.meta{
    background-color: violet;
}

.vacio{
    background-color: white;
}

.C{
    background-color: yellow;
    color: black;
}

.M{
    background-color: grey;
    color: black;
}

.B{
    background: red;
    color: black;
}

.F{
    background-color: green;
    color: white;
}